/* General Styles */
/* Body and Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0077bb;
    --secondary-color: #4522f2;
    --background-color-1: #f2f9fe;
    --background-color-2: #f9f8f8;

    --text-color: #626161;
    --footer-color: #033f62;
}






/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans SC", "Roboto", sans-serif;
}

/* Subtitle styles */
.subtitle-1 {
    font-size: 1.25rem;
    color: var(--text-color);
}

.subtitle-2 {
    font-size: 1.25rem;
    color: var(--secondary-color);
}



/* navbar*/

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
    color: aliceblue;
}

.navbar-custom .nav-link,
.navbar-toggler,.navbar-custom a {
    color: aliceblue;
}

/* Make the navbar sticky */
.navbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;

}

/**Translate **/
/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0 !important;
}

/* Hide Google branding */
.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    font-size: 0;
}


/* Hero Section */
#hero {
    height: 65vh;
    width: 100%;
    position: relative;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

.hero-slide {
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hero-content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

#hero p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;
}

#hero .btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
}



/***main content***/
main section {
    padding-top: 50px;
}

/*classes section*/
#classes {
    background-color: var(--background-color-1);
    padding-bottom: 6rem;
}

#classes i {

    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

#classes .btn {
    width: 100%;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*enrollment section*/
#enrollment {
    background-color: var(--background-color-2);
}

#enrollment i {

    color: red;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 8px;
}

#enrollment .card-text {
    padding-left: 80px;

}

#registration label,
#registration button {
    font-weight: bold;
}

/*Testimonial Section*/
#testimonials {
    background-color: var(--background-color-1);
}

.testimonial-image {
    width: 100px;
    height: 100px;
}

/*contacts section*/


#contacts i {

    font-size: 1rem;
    margin-top: 5px;
}

/*google map section*/
.map-container iframe {
    width: 100%;
    max-width: 60vw;
    position: 50% 50%;
    height: 280px;
    margin: auto;
    padding-bottom: 20px;
}


/*footer section*/

/*copyright section*/

footer * {
    background-color: black;
    color: white;
    padding: 5px;
}

/*#copyright p {

    line-height: px;

}*/

/*+++++++++++++++classes page ++++++++++++++++++++*/

.card img {
    height: 100%;
    object-fit: cover;
}
#our-classes .card {
   --bs-card-border-color::none;
}

#our-classes .card {
    padding-top:75px;
}
#year1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*++++++thankful page++++++++*/



/*************************************************/
/*************Media query:tablets and larger(576px and up)*/
@media screen and (min-width:576px) {

    @media (max-width: 576px) {
        .map-container {
            height: 200px;
            padding-right: 10px;
        }
    }

    /*************************************************/
    /*************Media query:tablets and larger(768px and up)*/
    @media screen and (min-width:768px) {

        @media (max-width: 768px) {
            .map-container {
                height: 300px;
            }
        }

        /*************************************************/
        /*************Media query:tablets and larger(992px and up)*/
        @media screen and (min-width:992px) {

            @media (max-width: 992px) {
                .map-container {
                    height: 400px;
                    padding-right: 10px;
                }
            }

            /*************************************************/
            /*************Media query:tablets and larger(1200px and up)*/
            @media screen and (min-width:1200px) {

                @media (max-width: 1200px) {
                    .map-container {
                        height: 600px;
                        padding-right: 10px;
                    }
                }