/* General Styles */
/* Body and Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --primary-color: #0077bb;
    --secondary-color: #4522f2;
    --background-color-1: #eef9ff;
    --background-color-2: #fff2ef;

    --text-color: #626161;
    --footer-color: #033f62;
}


section {
    padding-top: 50px;
}



/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans SC", "Roboto", sans-serif;
}

/* Subtitle styles */
.subtitle-1 {
    font-size: 1.25rem;
    color: var(--text-color);
}

.subtitle-2 {
    font-size: 1.25rem;
    color: var(--secondary-color);
}



/* navbar*/

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
    color: aliceblue;
}

.navbar-custom .nav-link,
.navbar-toggler {
    color: aliceblue;
}

/* Make the navbar sticky */
.navbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;

}

/*Translate button*/
#langBtn {
    color: aliceblue;
}

/* Hero Section */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/BannerB.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    color: white;
    padding-top: 7rem;

}


#hero p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;
}

#hero .btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
}


/***main content***/

/*classes section*/
#classes {
    background-color: var(--background-color-1);
}

#classes i {

    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

/*enrollment section*/
#enrollment {
    background-color: var(--background-color-2);
}

#enrollment i {

    color: red;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 8px;
}

#enrollment .card-text {
    padding-left: 80px;

}

#registration label,
#registration button {
    font-weight: bold;
}

/*Testimonial Section*/
#testimonials {
    background-color:var(--background-color-1);
}



/*contacts section*/


#contacts i {

    font-size: 1rem;
    margin-top: 5px;
}

/*google map section*/
.map-container {
    width: 100%;
    max-width: 600px;
    height:auto;
    margin: auto;
}


/*footer section*/

/*copyright section*/

footer * {
    background-color: black;
    color: white;
    padding: 5px;
}

#copyright p {

    line-height: 10px;

}