/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family:  "Noto Sans SC", "Roboto", sans-serif;
}

/* Body and Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 2rem 0;
}


/* navbar*/

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar-custom .nav-link {
    color:aliceblue;
}

/* Make the navbar sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/BannerB.jpg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
  
   width: 100%;
   position: relative;
    color:white;
    padding: 8rem 0;
    
}
 .hero .container {
   position: relative;
   /* Ensures content stays above the overlay */
 }

 .hero p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;  
 }
